@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.loadingLogo{
    animation: rotation 15s infinite linear;
    width: 200px;
    height: 200px;
}

.loadingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.loading{
  margin-left: 20px;
  color: rgba(245, 222, 179, 0.852);
}