.pageContainer{
    margin-top: 80px;
}

.cDContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    flex-wrap: wrap;
    background-color: rgba(172, 17, 17, 0.85);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 1000px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,1);
}

.cDFirstContainer{
    margin-top: 25px;
}

.cDFirstContainer img{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,1);
}
.id{
    color:rgba(245, 222, 179, 0.852); 
}

/* .backButton img{
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
} */

.backButton img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    background-color: rgba(245, 222, 179, 0.852);
    border-radius:10px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
}

.backButton img:hover{
    background-color: rgba(172, 17, 17, 0.85);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.mapsButton{
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(245, 222, 179, 0.852);
    color: black;
    cursor: pointer;
    border: none;
    transition-duration: 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mapsButton:hover{
    background-color: #243B55;
    color: aliceblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.actsContainer{ 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.actContainer{
    width:300px ;
    height:200px ;
    border: 1px solid black;
    background-color: rgba(172, 17, 17, 0.85);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    padding: 20px;
    transition: 0.5s;
}

.actContainer:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,1);
}

.acth2{
    text-align: center;
}

.actName{
    color:rgba(245, 222, 179, 0.852);
}
