.countriesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.filtersContainer{
    margin-top: 5px;
    border-top: 2px solid black;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}