.countryCardContainer{
    background-color: rgba(245, 222, 179, 0.852);
    margin: 20px;
    border: none;
    padding: 5px;
    text-align: center;
    color: black;
    border-radius: 3px;
}

.imgCountryContainer{
    padding: 5px;
}

.imgCountryCard{
    height: 200px;
    width: 320px;
    object-fit: cover;
}

/* rgba(245, 222, 179, 0.852); */